h1 {
  margin: 0;
}

.section {
  padding-top: 93px;
  padding-bottom: 94px;
}

.button-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-nav .item + .item {
  margin-left: 8px;
}

.button-nav .filter {
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-nav .filter:hover,
.button-nav .filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter-current {
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.projects-nav {
  display: flex;
  flex-wrap: wrap;
}

.projects-nav .item {
  width: calc((100% - 60px) / 3);
  /* width: 380px; */
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-nav .item:nth-child(3n) {
  margin-right: 0;
}

.projects-nav .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-nav .link {
  text-decoration: none;
}

.projects-name {
  margin-top: 0;
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-foto {
  display: block;
  margin-bottom: 20px;
}

.projects-type {
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.projects-text {
  margin: 0;
  width: 380px;
  padding-right: 24px;
  padding-left: 24px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
